%ol
  %li
    Welcome to BigArseMessage.com
  %li
    %form
      %ol.form
        %li
          %label
            Message
          %input
        %li
          %label
            Style
          %select{ :multiple => "multiple"}
            %option="Basic"
            %option="Magic"
            %option="Heart"
            %option="JPRDY"
        %li
          %input{:type => "submit", :value => "Preview", :name => "Preview"}/
          %input{:type => "submit", :value => "Save", :name => "Save"}/
          %input{:type => "submit", :value => "?", :name => "Help"}/
  %li
    Click to Copy URL
    %input#url