%ol#main
  %li
    Welcome to BigArseMessage.com
  %li
    %form{:method => "post", :action => "/preview"}
      %ol.form
        %li
          %label
            Message
          %textarea.message{:name => "message"}
        %li
          %label
            Style
          %select{ :name => "style", :multiple => "multiple"}
            %option.basic BASIC
            %option.magic MAGIC
            %option.heart HEART
            %option.jprdy JPRDY
        %li.buttons
          %input{:type => "submit", :value => "preview", :name => "Preview"}/
          %input{:type => "submit", :value => "save", :name => "Save"}/
          %input{:type => "submit", :value => "?", :name => "Help"}/
  %li
    Click to Copy URL
    %input#url
