!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title="Big Arse Message"
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=utf-8"}
    %link{:rel => "stylesheet", :href => "http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css", :type => "text/css", :media => "screen"}
    %link{:rel => "stylesheet", :href => "/stylesheets/style.css", :type => "text/css", :media => "screen"}
    <!--[if lte IE 7]>
    %link{:rel => "stylesheet", :href => "/ie7.css", :type => "text/css", :media => "screen"}
    <![endif]-->
    %link{ :rel => "Shortcut Icon", :href => "/favicon.ico"}
    %script{:src => "/scripts/jquery.js", :type => "text/javascript"}
    %script{:src => "/scripts/bam.js", :type => "text/javascript"}
  %body
    #container
      #header
        %h1="Big Arse Message"
      #content
        #bigarsemessage{ :class => @type }
          %div
        
        = yield
        
        %ol#main
          %li
            Welcome to BigArseMessage.com
          %li
            %form{:method => "post", :action => "/preview"}
              %ol.form
                %li
                  %label
                    Message
                  %textarea.message{:name => "message"}
                    =@message
                %li
                  %label
                    Style
                  %select{ :name => "style", :id => "style", :multiple => "multiple"}
                    - %w[basic magic heart jprdy].each do |type|
                      %option{:class => type, :selected => (@type==type.upcase ? "selected" : nil )}= type.upcase
                %li.buttons
                  %input{:type => "submit", :value => "preview", :name => "Preview"}/
                  %input{:type => "submit", :value => "save", :name => "Save"}/
                  %input{:type => "submit", :value => "?", :name => "Help"}/
          %li
            Click to Copy URL
            %input#url{ :type => "text", :readonly => "readonly" }
