html {
  background: #5D00FF;
  color: #fff;
  font-family: "Courier New";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2.5em;
}

#header {
  display: none;
}
#container {
  width: 800px;
  margin: 0 auto;
}

ol#main {
}
  ol#main > li {
    padding: 1em 0;
    list-style: decimal;
    list-style-position: inside;
    border-top: 3px dashed #fff;
  }
    ol#main > li:first-child {
      border-top: none;
    }

ol.form {
  overflow: auto;
}
  ol.form > li {
    float: left;
    padding: 0 .7em;
    list-style: none;
  }
    ol.form > li.buttons {
      padding: 1em 0 0 5em;
    }
form {
  margin: -1.2em 0 0 2em;
  display: block;
}
  form label {
    display: block;
  }
  form textarea.message {
    width: 7.2em;
    height: 5em;
    text-transform: uppercase;
    overflow: hidden;
  }
  form select {
    border: none;
    background: none;
    color: #fff;
    overflow: display;
  }
    form select option:selected {
      background: #fff;
      color: #000;
    }
  form input[type="submit"] {
    margin: 0 .7em;
    background: none;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
    form input[type="submit"]:before {
      content: ">>";
    }
    form input[type="submit"]:last-child {
      margin: 0;
    }