html {
  color: white;
  background-color: #00f;
  font-family: 'Courier';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2.5em;
}

@font-face {
  font-family: 'FuturaCondensedExtraBoldOblique';
  src: url('/fonts/FuturaCondensedExtraBoldOblique.ttf');
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('/fonts/AmericanTypewriter.ttf');
}

@font-face {
  font-family: 'KorinnaBold';
  src: url('/fonts/Korinna-Bold.ttf');
}


#bigarsemessage {
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}

  #bigarsemessage.basic,
  #bigarsemessage.magic {
    font-family: 'FuturaCondensedExtraBoldOblique';
  }

  #bigarsemessage.heart {
    font-family: AmericanTypewriter;
  }
  #bigarsemessage.jprdy {
    font-family: KorinnaBold;
    text-shadow: 8px 8px 2px #000;
  }

    #bigarsemessage div {
      word-wrap: break-word;
    }

#header {
  display: none;
}
#container {
  width: 800px;
  margin: 0 auto;
}

ol#main {
}
  ol#main > li {
    padding: 1em 0;
    list-style: decimal;
    list-style-position: inside;
    border-top: 3px dashed #fff;
  }
    ol#main > li:first-child {
      border-top: none;
    }

ol.form {
  overflow: auto;
}
  ol.form > li {
    float: left;
    padding: 0 .7em;
    list-style: none;
  }
    ol.form > li.buttons {
      padding: 1em 0 0 3em;
    }
form {
  margin: -1.2em 0 0 2em;
  display: block;
}
  form label {
    display: block;
  }
  form textarea.message {
    width: 7.2em;
    height: 5em;
    text-transform: uppercase;
    overflow: hidden;
  }
  form select {
    border: none;
    background: none;
    color: #fff;
    overflow: display;
  }
    form select option:selected {
      background: #fff;
      color: #000;
    }
  form input[type="submit"] {
    margin: 0 .7em;
    background: none;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
    form input[type="submit"]:hover {
      color: #00f;
      background-color: #fff;
    }
    form input[type="submit"]:before {
      content: ">>";
    }
    form input[type="submit"]:last-child {
      margin: 0;
    }
ul.type_select {
	margin: 0;
	padding: 0;
}
	ul.type_select li {
		margin: 0;
		padding: 0;
	}
		ul.type_select li a { 
			display: block;
			color: #fff;
			text-decoration: none;
		}
			ul.type_select li a:hover, ul.type_select li a.selected {
	      color: #00f;
	      background-color: #fff;
			} 
input[type="text"] {
  margin-left: 2em;
  width: 18em;
}